.fa-set .fa, body .blog-list-item .fa, body .blog .fa {
  cursor: pointer; }

.fa-set .fa-thumbs-up, body .blog-list-item .fa-thumbs-up, body .blog .fa-thumbs-up {
  color: green; }

.fa-set .fa-thumbs-down, body .blog-list-item .fa-thumbs-down, body .blog .fa-thumbs-down {
  color: red; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }
  body .body-content {
    padding-left: 15px;
    padding-right: 15px; }
  body .dl-horizontal dt {
    white-space: normal; }
  body input,
  body select,
  body textarea {
    max-width: 280px; }
  body .blog-list-item {
    background: #fffff5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; }
    body .blog-list-item:first-of-type {
      margin-top: 25px; }
    body .blog-list-item:last-of-type {
      margin-bottom: 0; }
    body .blog-list-item .blog-header {
      font-size: 1.2em;
      font-weight: 700;
      vertical-align: middle; }
  body .blog {
    margin-top: 25px;
    background: #fffff5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px; }
    body .blog .blog-header {
      font-size: 2em;
      font-weight: 900;
      vertical-align: middle; }
    body .blog .author {
      font-size: 0.9em;
      font-style: italic; }
    body .blog .body-text {
      margin-top: 5px; }

